In [7]:
import numpy as np
import pandas as pd

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [34]:
data=pd.read_csv("/content/drive/MyDrive/smart bridge/Assignment ML/2/Train.csv")
data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [35]:
data.isnull().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [37]:
#fill null values
data["Item_Weight"].fillna(data["Item_Weight"].mean(),inplace=True)
data["Outlet_Size"].fillna(data["Outlet_Size"].mode()[0],inplace=True)

In [38]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [39]:
data["Item_Identifier"].unique()

array(['FDA15', 'DRC01', 'FDN15', ..., 'NCF55', 'NCW30', 'NCW05'],
      dtype=object)

In [40]:
data["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [41]:
data["Item_Type"].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [42]:
data["Outlet_Identifier"].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [43]:
data["Outlet_Type"].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [44]:
data["Outlet_Location_Type"].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [45]:
data["Outlet_Size"].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [46]:

data["Item_Fat_Content"]=dataset["Item_Fat_Content"].replace(to_replace='low fat', value='Low Fat')

data["Item_Fat_Content"]=dataset["Item_Fat_Content"].replace(to_replace='LF', value='Low Fat')
data["Item_Fat_Content"]=dataset["Item_Fat_Content"].replace(to_replace='reg', value='Regular')

In [47]:
data["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [48]:
# x and y split
x=data.iloc[:,1:11].values
y=data.iloc[:,11:12].values
print(x)
print(y)

[[9.3 'Low Fat' 0.016047301 ... 'Medium' 'Tier 1' 'Supermarket Type1']
 [5.92 'Regular' 0.019278216 ... 'Medium' 'Tier 3' 'Supermarket Type2']
 [17.5 'Low Fat' 0.016760075 ... 'Medium' 'Tier 1' 'Supermarket Type1']
 ...
 [10.6 'Low Fat' 0.035186271 ... 'Small' 'Tier 2' 'Supermarket Type1']
 [7.21 'Regular' 0.145220646 ... 'Medium' 'Tier 3' 'Supermarket Type2']
 [14.8 'Low Fat' 0.04487828 ... 'Small' 'Tier 1' 'Supermarket Type1']]
[[3735.138 ]
 [ 443.4228]
 [2097.27  ]
 ...
 [1193.1136]
 [1845.5976]
 [ 765.67  ]]

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer([("one",OneHotEncoder(),[1,3,5,7,8,9])],remainder = "passthrough")
x = ct.fit_transform(x)

In [50]:
x.shape

(8523, 42)

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 0)

In [52]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
y_pred = mlr.predict(x_test)

In [54]:
from sklearn.metrics import r2_score
accuracy = r2_score(y_pred,y_test)
accuracy

0.21021167339176183